<div class="container">
    <div class="jumbotron">
        <h1>activeOverload</h1>
        <h2>.....tracking app activity better than the NSA since 1899.</h2>
        <a href="/user/new" class="btn btn-lg btn-success">sign up now!</a>
    </div>
</div>